<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/FinappLogs/${date:format=dd-MM-yyyy}-${level}.log"
            layout="${longdate}|${level:uppercase=true}|${message}|${exception:format=ToString}"
            archiveFileName="${basedir}/FinappArchives/archives/log.{#####}.txt"
            archiveAboveSize="1000000"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2" />
    <!--<target name="eventlog" xsi:type="EventLog" layout="${message}" log="Application" source=" My Custom Api Services" />
    <target name="database" type="Database" connectionString="Data Source=your sql source;initial catalog=YourDbNameDb;user id=u1;password=p1;MultipleActiveResultSets=True;">
      <commandText> insert into ExceptionLog ([TimeStamp],[Level],Logger, [Message], UserId, Exception, StackTrace) values (@TimeStamp, @Level, @Logger, @Message, case when len(@UserID) = 0 then null else @UserId end, @Exception, @StackTrace); </commandText>
      <parameter name="@TimeStamp" layout="${date}" />
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@UserId" layout="${mdc:user_id}" />
      <parameter name="@Exception" layout="${exception}" />
      <parameter name="@StackTrace" layout="${stacktrace}" />
      <dbProvider>System.Data.SqlClient</dbProvider>
    </target>-->
  </targets>
  <rules>
    <!-- I am adding my 3 logging rules here -->
    <!--<logger name="*" minlevel="Debug" writeTo="database" />-->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <!--<logger name="*" minlevel="Trace" writeTo="eventlog" />-->
  </rules>
</nlog>